<li data-id="<%= id %>">
  <%= formatDate(added) %> - <b><%= user %>:</b> <%= text %>
  <a href="/message/<%= id %>" target="_blank">Open message</a>
  <a href="/user/<%= user %>" target="_blank">Open user</a>
</li>
